<h1>Welcome to the joke party, {{username}}!</h1><br>


<a href="/random-joke">get a random joke?</a><br>
<a href="/all-jokes">i need more fun than that! give me ALL jokes please!</a><br>
<a href="/add-joke">Want to tell a joke yourself?</a><br>